body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}
.main {
 display: flex;
 flex-direction: row-reverse;
 width: 1200px;
 background-color: #fff;
 margin: 40px auto;
 box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
 }
 /* main content */
.main-section {
    margin: 80px 0 0px 90px;
}
.main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
/*about me section */
.about-me-section {
  margin-right: 340px;
  margin-bottom: 40px;  
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 20px 0;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 25px 0;
}
.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* project section*/
.my-project-section {
    margin-bottom: 50px;
}

.project-list {
    padding: 0 0 0 17px;    

}

.project-bracket,
.project-item {
    color: #000000;    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.project-text,
.project-link {
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}


.work-experience-company {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}

.work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.work-experience-divider {
    color: #000000;
}
.work-experience-duties {
    padding: 0 0 0 18px;
}
.duties-list {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-experience-company-block {
    margin: 0 15px 0 0;
}


.my-education-section {
    margin: 45px 0 105px 0;
}

.education-proffesion {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
/*Side bar section*/
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.img {
 width: 370px;
}
.contact-section,
.techskill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title {
margin-bottom: 10px;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
}

.contact-section-type {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}

.contact-section-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.softskills-list,
.techskills-list {
    padding: 0 0 0 17px;
}

.softskills-item,
.techskills-item {
    color: #FB6D3A;
}

.softskills-item-text,
.techskills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.softskills-section {
    margin: 45px 0 0 40px;
}
